<h2 class="animate__animated  animate__bounceInDown heading-section text-center mt-3"><img src="/images/logo.png" class="logo"alt="JAP logo"> <span class="subtitle mt-2">User Management System</span> 
    </h2>
<section class="animate__animated animate__bounceInUp ftco-section pt-4 col-sm-11 col-md-9 col-lg-7">
    <div class="login-container ">
<div class="row  justify-content-center">
    <div class="col-lg-10">
        <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
            style="background-image: url(images/login.jpg);"
            >
            <div class="text w-100">
                <h2 class="mb-4">
                  Welcome to Log In!
                </h2>
                <p>Login now and add your new products, and customize them by updating or delete them when they are no more available.</p>
            </div>
            </div>
            <div class="login-wrap p-4 p-md-5">
                <h3 class="mb-3">Log In</h3>
            {{#if msg}}
                <div class="alert alert-danger">{{msg}} </div>
            {{/if}}   
            <form action="/login" method="POST" class="login-form">
            
            <div class="row">               
                {{!-- E-mail --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="email" class="label">E-mail</label>
                        <input type="text" class="form-control"
                        name="email"
                        placeholder="jospetash03@web.de">
                    </div>
                </div>
                {{!-- Password --}}
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center">
                        <label for="password" class="label">Password</label>
                        <input type="password" class="form-control"
                        name="password"
                        placeholder="Password">
                    </div>
                </div>
                {{!-- Remember me --}}
              <div class="col-md-12 my-4">
                    <div class="form-group">
                        <div class="w-100">
                            <label class="checkbox-wrap checkbox-primary w-100">
                                Remember me
                               <input type="checkbox" unchecked>
                                <span class="checkmark">
                                    </span>
                            </label>
                        </div>
                    </div>
                </div>
                {{!-- Button --}}
                <div class="col-md-12">
                    <div class="form group">
                        <button type="submit" class="btn btn-secondary submit p-2"
                        style="border-radius:20px; height:40px; width:80px">Log In</button>
                    </div>
                </div>
            </div>
            </form>
            {{!-- Log in for registered members --}}
            <div class="w-100 text-center">
                <p class="p mt-4">
                    You don't have any account!
                    <a href="/"  class="animate__animated animate__shakeX">Sign Up</a>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
  {{!--container end --}}
    </div>
</section>