<div class="product-container">
    <form method="POST" action="/product">
        <label for="title">Title: </label>
        <input type="text" name="title">
        <label for="description">Description: </label>
        <textarea name="description"></textarea>
        <label for="quantity">Quantity: </label>
        <input type="number" name="quantity">
        <button type="submit"></button>
    </form>
</div>