{{#if user}}
    <table>
        <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Address</th>
        </thead>
        <tbody>
            {{#each user}}
              <tr>
                  <td>{{name}}</td>
                  <td>{{surname}}</td>
                  <td>{{email}}</td>
                  <td>{{address}}</td>
              </tr> 
            {{/each}} 
        </tbody>
    </table>
{{/if}}   
